In [595]:
from math import ceil
import time
import re
import ast
import sys
import urllib
import time
import random
import pandas as pd
from bs4 import BeautifulSoup
from random import randint
from selenium.webdriver.firefox.webdriver import FirefoxProfile
from urllib.request import urlopen, Request
from urllib.error import HTTPError
from urllib.error import URLError
import requests
from itertools import cycle
import string
from header_list import user_agent_list
from proxies_list import proxies_list_, proxie_random_pool
from FUNCTIONS import proxie_check, strip_count, gen_url_list
from SCRAPPER_FUNCTIONS import session_creator, zip_prop_count, each_page, links_for_props

In [596]:
ua = user_agent_list
proxies = proxies_list_
prx_pool = proxie_random_pool

In [597]:
# proxies = proxie_check(proxies)
len(proxies)

60

In [204]:
zip_codes = pd.read_csv('../Data/main_zips.csv')
zip_list = zip_codes['zip'].tolist()

In [264]:
# active_url_list, sold_url_list = gen_url_list(zip_list)

In [213]:
# a_main_df = pd.DataFrame(columns=['full_address', 'home_link'])
# s_main_df = pd.DataFrame(columns=['full_address', 'home_link'])

In [261]:
# a = randint(0, 3)
# time.sleep(random.uniform(0, 1)*((88/13)**.33)*a)
# active_url_list, a_main_df, proxies = links_for_props(
#     proxies, active_url_list, a_main_df, ua)

In [307]:
# a_main_df

In [310]:
# len(active_url_list)

In [309]:
# a = randint(0, 3)
# sold_url_list, s_main_df, proxies = links_for_props(
#     proxies, sold_url_list, s_main_df, ua)

In [160]:
# sld_under_url_list = sld_under_url_list[1:]
# print(len(sld_under_url_list))

In [614]:
# sld_under_url_list, s_main_df = links_for_props(
#     proxies, sld_under_url_list, s_main_df, ua)

In [616]:
# list_ = list(s_main_df.full_address.values)
# set([num[-5:] for num in list_])

In [612]:
# main_df.to_csv('../Data/main_df_ap.csv')
# s_main_df.to_csv('../Data/s_main.csv')

In [21]:
# s_main_df = pd.read_csv('../Data/s_main.csv')
# main_df = pd.read_csv('../Data/main_df_ap.csv')

In [295]:
a_main_df.to_csv('../Data/active_props_url_list.csv')
s_main_df.to_csv('../Data/sold_props_url_list.csv')

In [304]:
a_main_df = a_main_df.drop_duplicates(subset='full_address')
s_main_df = s_main_df.drop_duplicates(subset='full_address')

In [305]:
active_url_list = a_main_df.home_link.tolist()

In [306]:
len(active_url_list)

10153

In [646]:
def each_property(url, hdr, proxy):

    soup = session_creator(proxy, ua, url)

    home_dict = address_parser(soup)

    top_info_dict = top_info_parser(soup)

    public_info_dict = public_info_parser(soup)

    school_dict = school_parser(soup)

    home_description = soup.find('p', {'class': 'font-b1'})
    if home_description != None:
        home_dict['description'] = home_description.span.text

    all_home_feats = soup.findAll('span', {'class': "entryItemContent"})
    
#     feats = [num.text for num in all_home_feats]

#     prop_hist = soup.findAll(
#         'div', {'id': 'propertyHistory-expandable-segment'})
#     prop_history = [num.text for num in prop_hist]
    
    df = pd.concat([home_dict, top_info_dict, top_info_dict, public_info_dict], sort=False, )

    return df, all_home_feats

In [647]:
header = random.sample(ua, 1)[0]
proxy = random.sample(proxies, 1)[0]
sold_url_list = s_main_df['home_link'].tolist()
# url = random.sample(active_url_list, 1)[0]
url = random.sample(sold_url_list, 1)[0]
print(proxy)
print(url)

sold_home_df, feats = each_property(url, header, proxy)

37.224.84.90:8080
https://www.redfin.com/FL/Naples/4238-27th-Ct-SW-34116/unit-204/home/67465617
<_sre.SRE_Match object; span=(0, 21), match='4238 27th Ct SW #204,'>

In [648]:
sold_home_df

,address,city,zip_code,state,mls_num,description,num_beds,num_baths,home_sqft,yr_blt,...,Beds,Baths,Sq. Ft.,Stories,Lot Size,Style,Year Built,Year Renovated,County,APN
1,4238 27th Ct SW #204,Naples,34116,None,218032168,"SPECTACULAR GOLF COURSE VIEW, where membership...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,800.0,1983.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,800.0,1983.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,—,—,800,—,—,Condo/Co-op,1985,1985,Collier County,32282960004

In [ ]:
label_list = []
values_list = []
for num in all_info:
    cats = num.findAll('span', {'class': 'table-label'})
    for i in cats:
        label_list.append(i.text)
for num in all_info:
    vals = num.findAll('div', {'class': 'table-value'})
    for i in vals:
        values_list.append(i.text)
new_dict = dict(zip(label_list, values_list))
print({**home_dict, **new_dict})

In [583]:
feats

['# of Bedrooms (Upper): 4',
 'Master Bedroom on Upper Level',
 '# of Baths (Full): 3',
 '# of Baths (1/2): 1',
 '# of Lower Baths (Full): 1',
 '# of Upper Baths (Full): 2',
 '# of Main Baths (1/2): 1',
 'Kitchen with Eating Space on Main Level',
 'Dining Room on Main Level',
 'Living Room on Main Level',
 'Family Room on Lower Level',
 'Den/Office on Main Level',
 'Bonus Room on Lower Level',
 'Utility Room on Upper Level',
 'Daylight Basement, Fully Finished Basement',
 'Second Kitchen, Wet Bar, Wine Cellar, Bath Off Master, Built-In Vacuum, Double Pane/Storm Windows, Dining Room, French Doors, High Tech Cabling, Vaulted Ceilings, Walk-In Pantry, Walk-In Closet',
 '# of Fireplaces: 1',
 '# of Fireplaces (Main): 1',
 'Ceramic Tile Floor, Hardwood Floor, Wall-to-Wall Carpet',
 'Dishwasher, Double Oven, Microwave, Range/Oven, Refrigerator',
 'Central Air Conditioning, Forced Air Heating, 90%+ High Efficiency',
 'Water Heater: Basement-Gas',
 '# of Covered Spaces: 2',
 'Attached Garage',
 'Building Condition: Very Good',
 'Built On Site',
 'Cement Planked Exterior',
 'Poured Concrete Foundation',
 'Composition Roof',
 'Elementary School: Dieringer Hs Elem',
 'Junior High School: North Tapps Mid',
 'Senior High School: Buyer To Verify',
 'School District: Dieringer',
 'Energy Source: Electric, Natural Gas',
 'Public Water Source',
 'Septic System',
 'Power Company: PSE',
 'Water Company: City of Bonney Lake',
 'Sewer Company: City of Bonney Lake',
 'Septic Permits (# of Bedrooms): 4',
 'No Senior Exemption',
 'Lake Tapp/Bonney Lake',
 'Reviewed on Receipt',
 'Possession: Closing',
 'Cable Television, Deck, Dock, Partially Fenced, Natural Gas Available, High Speed Internet, Sprinkler System',
 'Property Fronts at Medium Bank, Property Fronts At Bulkhead, Property Fronts on Lake',
 'Waterfront Footage: 81',
 'Lot on Cul-de-Sac, Lot on Dead-End Street, Lot Is On Paved Street',
 'Level, Sloped, Terraces',
 'Zoning Jurisdiction: County',
 'Sq. Ft. (Finished): 3,860',
 'Entry on Main Level',
 'Preliminary Title Ordered: Yes',
 'Tax ID #: 504500-027-0']

In [478]:
all_info

[<div class="sectionContainer" data-rf-test-id="publicRecords"><h2 class="h2 inline-block">Public Facts<span class="adr" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span> for </span><span class="street-address" itemprop="streetAddress">8451 Moore Street</span></span></h2><div class="main-content"><div class="public-records-taxes"><div class="taxable-value"><h3 class="h3">Taxable Value</h3><div class="tax-values"><div class="tax-table"><table><tbody><tr><td class="heading">Land</td><td class="value">N/A</td></tr><tr><td class="heading">Additions</td><td class="value">N/A</td></tr><tr class="line"><td class="heading">Total</td><td class="value">N/A</td></tr></tbody></table></div></div></div><div class="tax-record"><h3 class="h3">Tax Record</h3><div class="tax-values gray-border"><div class="tax-table totals"><table><tbody><tr><td class="header padded">2017</td><td class="value padded font-weight-bold">$8,016</td></tr></tbody></table></div></div></div></div><div class="basic-info" id="basicInfo"><div><h3 class="h3 home-facts-title">Home Facts</h3><div class="edit-facts-button-container"><div class="edit-facts-button"><button class="button Button tertiary v3" tabindex="0" type="button"><div class="with-text svg-icon"><svg class="SvgIcon rfSvg edit"><svg viewbox="0 0 24 24"><g fill-rule="evenodd"><path d="M22.224 3.022l-1.17-1.172c-1.135-1.133-3.11-1.133-4.244 0L2.278 16.382a1.238 1.238 0 0 0-.342.639l-.912 4.557a1.25 1.25 0 0 0 1.224 1.497l4.806-.937c.243-.05.463-.167.638-.342L22.225 7.264a3.005 3.005 0 0 0 0-4.242zm-6.793 3.035l2.586 2.586-9.586 9.586-2.586-2.586 9.586-9.586zM3.206 20.869l.646-3.233.58-.58 2.585 2.587-.579.578-3.232.648zM20.81 5.849l-1.379 1.38-2.586-2.586 1.38-1.38a1.02 1.02 0 0 1 1.413 0l1.171 1.173c.39.39.39 1.024.001 1.414z"></path></g></svg></svg></div><span>Edit Facts</span></button></div></div></div><div class="median-values"><div class="facts-table"><div class="table-row"><span class="table-label">Beds</span><div class="table-value">4</div></div><div class="table-row"><span class="table-label">Baths</span><div class="table-value">4</div></div><div class="table-row"><span class="table-label">Sq. Ft.</span><div class="table-value">3,210</div></div><div class="table-row"><span class="table-label">Stories</span><div class="table-value">2</div></div><div class="table-row"><span class="table-label">Lot Size</span><div class="table-value">—</div></div><div class="table-row"><span class="table-label">Style</span><div class="table-value">Townhouse</div></div><div class="table-row"><span class="table-label">Year Built</span><div class="table-value">2007</div></div><div class="table-row"><span class="table-label">Year Renovated</span><div class="table-value">2007</div></div><div class="table-row"><span class="table-label">County</span><div class="table-value">Collin County</div></div><div class="table-row"><span class="table-label">APN</span><div class="table-value">R86530F601401</div></div></div><div class="source-info-container"><div class="source-info">Home facts updated by <!-- -->county records<!-- --> on <!-- -->Aug 25, 2018<!-- -->. </div></div></div></div></div></div>]

In [206]:
feats

['# of Bedrooms: 3',
 '3 Bedrooms on Main Level',
 '# of Baths: 3',
 '2 Baths on Main Level',
 '1 Bath on Lower Level',
 'Living Room: View',
 'Living Room on Main Level',
 'Family Room on Lower Level',
 'Dining Room on Main Level',
 'Combination Living/Dining Room',
 'Den/Bonus Room: 0',
 '# of Fireplace(s): 1, In Living Room',
 'Laundry Appliances: Washer/Dryer, In Garage',
 'Refrigerator, Freezer, Island, Remodeled',
 'Kitchen on Main Level',
 'Floors: Hardwood',
 '# of Rooms (Total): 0',
 '1 Bath on Lower Level, Family Room on Lower Level',
 '3 Bedrooms on Main Level, 2 Baths on Main Level, Living Room on Main Level, Dining Room on Main Level, Kitchen on Main Level',
 'Heating/Cooling: Central Heating',
 'Parking Type: On Site',
 '# of Garage Spaces: 1',
 '# of Parking Spaces: 1',
 'Garage',
 'Parking Access: Side-by-Side',
 'Deck(s)',
 'Monthly Rent: 0.00',
 'Unconfirmed Co-op Fee: 0.00',
 'Zoning: RH-1',
 'View(s): Ocean',
 'Lot Measurement: Square Feet',
 'Per Architect',
 'Deck(s)',
 'APN: 7010013',
 'Property Disclaimer: Copyright: 2018 by San Francisco Assoc of REALTORS - All data, including all measurements and calculations of area, is obtained from various sources and has not been, and will not be, verified by broker or MLS. All information should be independently reviewed and verified for accuracy. Properties may or may not be listed by the office/agent presenting the information.',
 'Cross Street: Grafton Avenue',
 'Original Price: $1,295,000',
 'On Market Date: Friday, October 6, 2017']