In [100]:
from math import ceil
import time, re, ast, sys, urllib, random, string, requests
import pandas as pd
from bs4 import BeautifulSoup
from random import randint
from selenium.webdriver.firefox.webdriver import FirefoxProfile
from urllib.request import urlopen, Request
from urllib.error import HTTPError, URLError
from itertools import cycle
from header_list import user_agent_list
from proxies_list import proxies_list_
from INITIAL_SCRAPPER_FUNCTIONS import *
from PARSER_FUNCTIONS import *
from LIST_DF_FUNCTIONS import *
from SEARCH_URL_GEN import *
from GET_SEARCH_URL import *
from GET_RESULTS import *
ua = user_agent_list
proxies = proxies_list_

In [101]:
proxies = ['12.183.155.91:39828', '12.2.202.242:8080', '50.224.173.189:8080', '12.175.211.121:59669',
           '71.43.26.18:46024', '72.35.40.34:8080', '50.224.173.190:8080', '24.227.222.4:53281',
           '64.58.192.36:41258', '72.4.34.79:53281', '172.83.138.45:53281', '72.95.19.165:57701',
           '65.173.110.234:8888', '162.236.204.234:60445', '47.210.133.169:43305', '64.214.77.66:8080',
           '209.97.233.3:61268', '73.0.14.154:8080', '76.72.92.108:35247', '75.102.135.249:40326',
           '12.189.124.100:54773', '64.49.66.69:51633', '50.224.173.179:8080', '98.198.60.95:54148',
           '52.144.107.142:60263', '75.142.138.44:42165', '204.249.203.201:50032', '38.134.10.106:53281',
           '173.162.101.209:32231', '50.252.132.229:31116', '12.218.209.130:53281', '65.49.167.6:8888',
           '172.73.162.185:56206', '74.0.244.146:52807', '67.198.99.138:60810', '76.10.248.156:8080',
           '45.30.170.25:8888', '24.119.8.100:53281', '108.170.48.187:3128', '140.227.60.114:3128',
           '64.192.234.98:53281', '72.43.146.42:59313', '74.143.136.6:8888', '142.147.112.246:59640',
           '71.183.100.76:42413', '166.130.163.233:34739', '63.246.49.113:8080', '64.19.116.82:60814',
           '66.232.186.7:53281', '12.190.124.122:8888', '50.236.148.254:39970', '96.57.221.236:42288',
           '66.91.106.224:39395', '66.153.222.162:38692', '50.235.111.161:45126', '74.84.121.206:55219',
           '74.122.78.18:44125', '24.60.229.154:35700', '199.231.171.106:53281', '74.132.148.53:53004',
           '209.201.21.140:49358', '96.3.212.186:38901', '24.111.55.159:59774', '31.207.59.64:51378',
           '70.167.232.47:35380', '74.117.26.133:54058', '23.224.151.232:808', '208.255.136.24:9999',
           '75.145.243.13:8888', '12.189.124.227:49361', '162.250.159.182:33877', '38.121.121.241:39391',
           '52.124.6.226:44894']

In [102]:
def proxie_check(proxies):
    default_list = []
    url = 'https://httpbin.org/ip'
    for i in range(0, len(proxies)):
        proxy = proxies[i]
        print(i+1)
        start_time = time.time()
        try:
            response = requests.get(
                url, proxies={"http": proxy, "https": proxy})
            print(response.json())
            print(time.time() - start_time)
        except:
            print("Skipping. Connnection error")
            default_list.append(i+1)
            print(time.time() - start_time)
        print(default_list)
    return default_list
#proxie_check(proxies)

In [103]:
len(proxies)

73

In [22]:
cities_url = pd.read_csv('../Data/zip_url_search_list.csv', header=None)
city_url_list = cities_url[0].tolist()

In [23]:
prop_count_per_city_list = []

In [34]:
def session_creator(proxy, ua, url):
    header = random.sample(ua, 1)[0]
    session = requests.Session()
    session.proxies = {"http": proxy, "https": proxy}
    req = session.get(url, headers=header)
    soup = BeautifulSoup(req.text, 'lxml')
    return soup

In [35]:
i = 0

In [36]:
city_url_list = random.sample(city_url_list, len(city_url_list))
def areas_extractor_url(proxies, prp_list, url_list, ua):
    proxy = random.sample(proxies, 1)[0]
    print(proxies.index(proxy))
    print(proxy)
    for url in url_list:
        try:
            start_time = time.time()
            soup = session_creator(proxy, ua, url)
            time.sleep(random.uniform(1.5, 3.8))
            all_count = soup.find('meta', {'name': 'description'})
            print(all_count.text)
            print(time.time() - start_time)
            if len(all_count) > 0:
                prp_list.append(all_count)
                url_list.remove(url)
                print(f'url left: {len(url_list)}')
                print(f'url done: {len(prp_list)}')
            else:
                print('captcha')
        except:
            print("Connnection error")
            proxies.remove(proxy)
            print(len(proxies))
            return prp_list, url_list
    return prp_list, url_list


while i < len(proxies):
    prop_count_per_city_list, city_url_list = areas_extractor_url(
        proxies, prop_count_per_city_list, city_url_list, ua)
    i+=1

12
37.61.224.231:8195
[<meta content="Zillow has 6,644 homes for sale in Jacksonville FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.419410943984985
url left: 199
url done: 111
[<meta content="Zillow has 382 homes for sale in Hattiesburg MS. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.877525806427002
url left: 198
url done: 112
[<meta content="Zillow has 356 homes for sale in Flushing New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.0229010581970215
url left: 197
url done: 113
[<meta content="Zillow has 562 homes for sale in Charleston WV. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.213216543197632
url left: 196
url done: 114
[<meta content="Zillow has 629 homes for sale in Bloomington IN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.313323259353638
url left: 195
url done: 115
[<meta content="Zillow has 321 homes for sale in Paterson NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.073506593704224
url left: 194
url done: 116
[<meta content="Zillow has 1,383 homes for sale in Little Rock AR. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.544557809829712
url left: 193
url done: 117
[<meta content="Zillow has 638 homes for sale in Bridgeport CT. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.50067138671875
url left: 192
url done: 118
[<meta content="Zillow has 2,384 homes for sale in Tulsa OK. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.523038387298584
url left: 191
url done: 119
[<meta content="Zillow has 468 homes for sale in Mission TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.38579797744751
url left: 190
url done: 120
[<meta content="Zillow has 290 homes for sale in Lake Worth FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.353877305984497
url left: 189
url done: 121
[<meta content="Zillow has 2,681 homes for sale in Knoxville TN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.929694890975952
url left: 188
url done: 122
Connnection error
33
31
50.234.76.70:55877
[<meta content="Zillow has 3,614 homes for sale in San Diego CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.156861782073975
url left: 187
url done: 123
[<meta content="Zillow has 2,762 homes for sale in Kansas City MO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.882647514343262
url left: 186
url done: 124
[<meta content="Zillow has 421 homes for sale in Lakewood NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.10786247253418
url left: 185
url done: 125
[<meta content="Zillow has 1,371 homes for sale in Norfolk VA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.8884499073028564
url left: 184
url done: 126
[<meta content="Zillow has 227 homes for sale in Carson City County NV. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.618916273117065
url left: 183
url done: 127
[<meta content="Zillow has 1,896 homes for sale in Boston MA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.946536540985107
url left: 182
url done: 128
[<meta content="Zillow has 654 homes for sale in Warren MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
10.235991716384888
url left: 181
url done: 129
[<meta content="Zillow has 514 homes for sale in Sterling Heights MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.774141311645508
url left: 180
url done: 130
[<meta content="Zillow has 192 homes for sale in Rockville MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
10.164386749267578
url left: 179
url done: 131
[<meta content="Zillow has 521 homes for sale in Grand Rapids MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
13.440105199813843
url left: 178
url done: 132
[<meta content="Zillow has 293 homes for sale in Jamaica New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
72.40911507606506
url left: 177
url done: 133
[<meta content="Zillow has 126 homes for sale in Elizabeth NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
17.393449544906616
url left: 176
url done: 134
[<meta content="Zillow has 1,141 homes for sale in Long Beach CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
12.912057638168335
url left: 175
url done: 135
[<meta content="Zillow has 4,477 homes for sale in Austin TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.89292049407959
url left: 174
url done: 136
[<meta content="Zillow has 4,106 homes for sale in Indianapolis IN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.4366631507873535
url left: 173
url done: 137
[<meta content="Zillow has 1,433 homes for sale in Winston-Salem NC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.03490948677063
url left: 172
url done: 138
[<meta content="Zillow has 1,644 homes for sale in Bradenton FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.6069750785827637
url left: 171
url done: 139
[<meta content="Zillow has 666 homes for sale in Erie PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.950143098831177
url left: 170
url done: 140
[<meta content="Zillow has 1,315 homes for sale in Mobile AL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.988339424133301
url left: 169
url done: 141
[<meta content="Zillow has 311 homes for sale in Springfield OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.684892892837524
url left: 168
url done: 142
Connnection error
32
12
72.95.19.165:57701
Connnection error
31
16
64.214.77.66:8080
[<meta content="Zillow has 203 homes for sale in Burbank CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.193505764007568
url left: 167
url done: 143

[<meta content="Zillow has 620 homes for sale in Bismarck ND. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.265373468399048
url left: 166
url done: 144
[<meta content="Zillow has 257 homes for sale in Bethlehem PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.3416354656219482
url left: 165
url done: 145
[<meta content="Zillow has 697 homes for sale in Alexandria VA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.461730003356934
url left: 164
url done: 146
[<meta content="Zillow has 877 homes for sale in Modesto CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.025703191757202
url left: 163
url done: 147
[<meta content="Zillow has 3,643 homes for sale in Denver CO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.3584964275360107
url left: 162
url done: 148
[<meta content="Zillow has 889 homes for sale in Boise ID. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.969750165939331
url left: 161
url done: 149
[<meta content="Zillow has 6,738 homes for sale in Brooklyn NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.48067569732666
url left: 160
url done: 150
[<meta content="Zillow has 285 homes for sale in Morgantown WV. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.9635777473449707
url left: 159
url done: 151
[<meta content="Zillow has 930 homes for sale in Frederick MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.649801254272461
url left: 158
url done: 152
[<meta content="Zillow has 1,213 homes for sale in Arlington TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.154168605804443
url left: 157
url done: 153
[<meta content="Zillow has 1,233 homes for sale in Amarillo TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.369959115982056
url left: 156
url done: 154
[<meta content="Zillow has 818 homes for sale in Canton OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.4443609714508057
url left: 155
url done: 155
[<meta content="Zillow has 2,926 homes for sale in Seattle WA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.836852550506592
url left: 154
url done: 156
[<meta content="Zillow has 486 homes for sale in Owensboro KY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.77567195892334
url left: 153
url done: 157
[<meta content="Zillow has 83 homes for sale in Palo Alto CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.340054988861084
url left: 152
url done: 158
[<meta content="Zillow has 2,518 homes for sale in Detroit MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.075469970703125
url left: 151
url done: 159
[<meta content="Zillow has 737 homes for sale in Gulfport MS. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.270201206207275
url left: 150
url done: 160
[<meta content="Zillow has 236 homes for sale in Compton CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.148336887359619
url left: 149
url done: 161
[<meta content="Zillow has 5,081 homes for sale in Dallas TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.8793468475341797
url left: 148
url done: 162
[<meta content="Zillow has 834 homes for sale in Bowling Green KY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.776904344558716
url left: 147
url done: 163
[<meta content="Zillow has 1,329 homes for sale in Riverside CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.67936110496521
url left: 146
url done: 164
[<meta content="Zillow has 590 homes for sale in Hamilton OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.7128984928131104
url left: 145
url done: 165
[<meta content="Zillow has 132 homes for sale in Easton PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.4619932174682617
url left: 144
url done: 166
[<meta content="Zillow has 3,726 homes for sale in Baltimore MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.45735239982605
url left: 143
url done: 167
[<meta content="Zillow has 1,838 homes for sale in Bronx NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.063593149185181
url left: 142
url done: 168
[<meta content="Zillow has 596 homes for sale in Springfield MA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.840137004852295
url left: 141
url done: 169
[<meta content="Zillow has 431 homes for sale in Tracy CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.125459432601929
url left: 140
url done: 170
[<meta content="Zillow has 317 homes for sale in Livermore CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.142542123794556
url left: 139
url done: 171
[<meta content="Zillow has 521 homes for sale in West Chester PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.36863112449646
url left: 138
url done: 172
[<meta content="Zillow has 3,915 homes for sale in Nashville TN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.894756078720093
url left: 137
url done: 173
[<meta content="Zillow has 3,395 homes for sale in Cleveland OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.364716529846191
url left: 136
url done: 174
[<meta content="Zillow has 292 homes for sale in Kalamazoo MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.6619439125061035
url left: 135
url done: 175
[<meta content="Zillow has 2,462 homes for sale in Oklahoma City OK. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.786184549331665
url left: 134
url done: 176
[<meta content="Zillow has 348 homes for sale in Des Plaines IL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.851351022720337
url left: 133
url done: 177

[<meta content="Zillow has 3,567 homes for sale in El Paso TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.5640177726745605
url left: 132
url done: 178
[<meta content="Zillow has 323 homes for sale in Lafayette IN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.4986212253570557
url left: 131
url done: 179
[<meta content="Zillow has 1,281 homes for sale in Springfield MO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.720622539520264
url left: 130
url done: 180
[<meta content="Zillow has 654 homes for sale in Garland TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.23098349571228
url left: 129
url done: 181
[<meta content="Zillow has 1,744 homes for sale in Wichita KS. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.323550224304199
url left: 128
url done: 182
[<meta content="Zillow has 1,721 homes for sale in Cincinnati OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.321919202804565
url left: 127
url done: 183
[<meta content="Zillow has 292 homes for sale in Lowell MA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.271458387374878
url left: 126
url done: 184
[<meta content="Zillow has 1,045 homes for sale in Kissimmee FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.011713266372681
url left: 125
url done: 185
[<meta content="Zillow has 7,751 homes for sale in San Antonio TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.383178949356079
url left: 124
url done: 186
[<meta content="Zillow has 645 homes for sale in Irving TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.020742177963257
url left: 123
url done: 187
[<meta content="Zillow has 1,922 homes for sale in Milwaukee WI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.342541694641113
url left: 122
url done: 188
[<meta content="Zillow has 2,127 homes for sale in Tampa FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.007633209228516
url left: 121
url done: 189
[<meta content="Zillow has 2,235 homes for sale in Aurora CO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.801640748977661
url left: 120
url done: 190
[<meta content="Zillow has 1,386 homes for sale in Clarksville TN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.506417751312256
url left: 119
url done: 191
[<meta content="Zillow has 1,397 homes for sale in Savannah GA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.658982038497925
url left: 118
url done: 192
[<meta content="Zillow has 1,130 homes for sale in Santa Fe NM. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.634130001068115
url left: 117
url done: 193
[<meta content="Zillow has 452 homes for sale in Santa Ana CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.203422784805298
url left: 116
url done: 194
[<meta content="Zillow has 2,362 homes for sale in Sacramento CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.123957633972168
url left: 115
url done: 195
[<meta content="Zillow has 363 homes for sale in Santa Barbara CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.9887216091156006
url left: 114
url done: 196
[<meta content="Zillow has 463 homes for sale in Appleton WI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.378171443939209
url left: 113
url done: 197
[<meta content="Zillow has 792 homes for sale in Greenville SC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.287332057952881
url left: 112
url done: 198
[<meta content="Zillow has 1,483 homes for sale in San Francisco CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.467471122741699
url left: 111
url done: 199
[<meta content="Zillow has 1,060 homes for sale in Des Moines IA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.775725364685059
url left: 110
url done: 200
[<meta content="Zillow has 2,726 homes for sale in Scottsdale AZ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.508873224258423
url left: 109
url done: 201
[<meta content="Zillow has 332 homes for sale in Concord CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.462996959686279
url left: 108
url done: 202
[<meta content="Zillow has 676 homes for sale in Fort Smith AR. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.179569721221924
url left: 107
url done: 203
[<meta content="Zillow has 312 homes for sale in New Bedford MA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.222551107406616
url left: 106
url done: 204
[<meta content="Zillow has 606 homes for sale in Cheyenne WY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.256402015686035
url left: 105
url done: 205
[<meta content="Zillow has 652 homes for sale in Augusta GA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.714582204818726
url left: 104
url done: 206
[<meta content="Zillow has 802 homes for sale in Salem OR. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.202447891235352
url left: 103
url done: 207
[<meta content="Zillow has 2,779 homes for sale in Sarasota FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.75243353843689
url left: 102
url done: 208
[<meta content="Zillow has 1,895 homes for sale in Mesa AZ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.097918748855591
url left: 101
url done: 209
[<meta content="Zillow has 1,409 homes for sale in San Jose CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.182857513427734
url left: 100
url done: 210
[<meta content="Zillow has 2,426 homes for sale in New Orleans LA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.357932806015015
url left: 99
url done: 211

[<meta content="Zillow has 3,418 homes for sale in Tucson AZ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.8865966796875
url left: 98
url done: 212
[<meta content="Zillow has 1,308 homes for sale in Akron OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.207335948944092
url left: 97
url done: 213
[<meta content="Zillow has 412 homes for sale in Youngstown OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.1730873584747314
url left: 96
url done: 214
[<meta content="Zillow has 259 homes for sale in Waukegan IL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.940746545791626
url left: 95
url done: 215
[<meta content="Zillow has 2,238 homes for sale in Charleston SC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.529544830322266
url left: 94
url done: 216
[<meta content="Zillow has 826 homes for sale in Columbia MO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.669663667678833
url left: 93
url done: 217
[<meta content="Zillow has 2,468 homes for sale in Raleigh NC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.7701659202575684
url left: 92
url done: 218
[<meta content="Zillow has 74 homes for sale in Burlington VT. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.4638378620147705
url left: 91
url done: 219
[<meta content="Zillow has 366 homes for sale in Lancaster PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.775989294052124
url left: 90
url done: 220
[<meta content="Zillow has 2,116 homes for sale in Colorado Springs CO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.540020227432251
url left: 89
url done: 221
[<meta content="Zillow has 429 homes for sale in Casper WY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.472130298614502
url left: 88
url done: 222
[<meta content="Zillow has 412 homes for sale in Manchester NH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.40118145942688
url left: 87
url done: 223
[<meta content="Zillow has 591 homes for sale in Yonkers NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.1384735107421875
url left: 86
url done: 224
[<meta content="Zillow has 6,946 homes for sale in Naples FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.662595748901367
url left: 85
url done: 225
[<meta content="Zillow has 460 homes for sale in Grand Prairie TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.836293697357178
url left: 84
url done: 226
4
73.244.187.99:53281
[<meta content="Zillow has 756 homes for sale in Saginaw MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
10.420223236083984
url left: 83
url done: 227
[<meta content="Zillow has 272 homes for sale in Astoria New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
65.10102367401123
url left: 82
url done: 228
[<meta content="Zillow has 632 homes for sale in Henrico VA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
16.326695203781128
url left: 81
url done: 229
[<meta content="Zillow has 6,486 homes for sale in Philadelphia PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
12.253705263137817
url left: 80
url done: 230
[<meta content="Zillow has 997 homes for sale in Bakersfield CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
8.402844905853271
url left: 79
url done: 231
[<meta content="Zillow has 1,149 homes for sale in Peoria IL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
15.047836065292358
url left: 78
url done: 232
[<meta content="Zillow has 408 homes for sale in Allentown PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
97.95500898361206
url left: 77
url done: 233
[<meta content="Zillow has 298 homes for sale in Saint Cloud MN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
13.767221212387085
url left: 76
url done: 234
[<meta content="Zillow has 150 homes for sale in Santa Clara CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
8.891449689865112
url left: 75
url done: 235
[<meta content="Zillow has 1,886 homes for sale in Marietta GA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
39.222095012664795
url left: 74
url done: 236
[<meta content="Zillow has 442 homes for sale in Duluth MN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
9.95780611038208
url left: 73
url done: 237
[<meta content="Zillow has 963 homes for sale in Fort Wayne IN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
28.283631563186646
url left: 72
url done: 238
[<meta content="Zillow has 985 homes for sale in Toms River NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
26.86715865135193
url left: 71
url done: 239
Connnection error
30
13
162.236.204.234:60445
[<meta content="Zillow has 390 homes for sale in Belleville IL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.61055064201355
url left: 70
url done: 240
[<meta content="Zillow has 762 homes for sale in Springfield IL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
18.62848997116089
url left: 69
url done: 241
[<meta content="Zillow has 1,511 homes for sale in Pensacola FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
12.154831886291504
url left: 68
url done: 242
[<meta content="Zillow has 1,517 homes for sale in Columbia SC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.5244362354278564
url left: 67
url done: 243
[<meta content="Zillow has 381 homes for sale in Hartford CT. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.598976135253906
url left: 66
url done: 244
[<meta content="Zillow has 721 homes for sale in Jersey City NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
12.521821022033691
url left: 65
url done: 245

[<meta content="Zillow has 1,239 homes for sale in Huntsville AL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
20.256639003753662
url left: 64
url done: 246
[<meta content="Zillow has 946 homes for sale in Tacoma WA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
11.16304349899292
url left: 63
url done: 247
[<meta content="Zillow has 343 homes for sale in Trenton NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
20.23131513595581
url left: 62
url done: 248
[<meta content="Zillow has 164 homes for sale in Berkeley CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.848527193069458
url left: 61
url done: 249
[<meta content="Zillow has 163 homes for sale in Corona New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.566492080688477
url left: 60
url done: 250
[<meta content="Zillow has 737 homes for sale in Stamford CT. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.73443865776062
url left: 59
url done: 251
[<meta content="Zillow has 364 homes for sale in Reading PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.1819915771484375
url left: 58
url done: 252
[<meta content="Zillow has 858 homes for sale in Cary NC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.740068435668945
url left: 57
url done: 253
[<meta content="Zillow has 1,084 homes for sale in Murfreesboro TN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.820018768310547
url left: 56
url done: 254
[<meta content="Zillow has 159 homes for sale in Mansfield OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.167575120925903
url left: 55
url done: 255
[<meta content="Zillow has 4,846 homes for sale in Fort Worth TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
9.405449390411377
url left: 54
url done: 256
Connnection error
29
2
50.224.173.189:8080
[<meta content="Zillow has 467 homes for sale in Redding CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.841081142425537
url left: 53
url done: 257
[<meta content="Zillow has 436 homes for sale in Edison NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.104490756988525
url left: 52
url done: 258
[<meta content="Zillow has 12,159 homes for sale in Houston TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
2.8463470935821533
url left: 51
url done: 259
[<meta content="Zillow has 473 homes for sale in Beaverton OR. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.3708555698394775
url left: 50
url done: 260
[<meta content="Zillow has 443 homes for sale in Poughkeepsie NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.2533814907073975
url left: 49
url done: 261
[<meta content="Zillow has 197 homes for sale in Muskegon MI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.7612664699554443
url left: 48
url done: 262
[<meta content="Zillow has 392 homes for sale in Orange CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.4136223793029785
url left: 47
url done: 263
[<meta content="Zillow has 794 homes for sale in Evansville IN. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.939743995666504
url left: 46
url done: 264
[<meta content="Zillow has 57 homes for sale in Hyattsville MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.991228818893433
url left: 45
url done: 265
[<meta content="Zillow has 638 homes for sale in Anaheim CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.678656339645386
url left: 44
url done: 266
[<meta content="Zillow has 305 homes for sale in Salinas CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.01769757270813
url left: 43
url done: 267
[<meta content="Zillow has 1,062 homes for sale in Madison WI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.711810350418091
url left: 42
url done: 268
[<meta content="Zillow has 2,612 homes for sale in Fort Lauderdale FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.537911891937256
url left: 41
url done: 269
[<meta content="Zillow has 192 homes for sale in Dover DE. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
2.9506585597991943
url left: 40
url done: 270
[<meta content="Zillow has 405 homes for sale in Scranton PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.105577230453491
url left: 39
url done: 271
[<meta content="Zillow has 2,165 homes for sale in Edmond OK. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.041857719421387
url left: 38
url done: 272
[<meta content="Zillow has 1,500 homes for sale in Myrtle Beach SC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.3367674350738525
url left: 37
url done: 273
[<meta content="Zillow has 1,773 homes for sale in Lexington KY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.846179723739624
url left: 36
url done: 274
[<meta content="Zillow has 1,462 homes for sale in Fresno CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.042012929916382
url left: 35
url done: 275
[<meta content="Zillow has 1,092 homes for sale in Buffalo NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
2.9003281593322754
url left: 34
url done: 276
[<meta content="Zillow has 219 homes for sale in Gaithersburg MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.562836647033691
url left: 33
url done: 277
[<meta content="Zillow has 157 homes for sale in Elmhurst New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.750385999679565
url left: 32
url done: 278
[<meta content="Zillow has 483 homes for sale in Schenectady NY. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
2.8392860889434814
url left: 31
url done: 279

[<meta content="Zillow has 552 homes for sale in Boulder CO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.839339733123779
url left: 30
url done: 280
[<meta content="Zillow has 153 homes for sale in Cambridge MA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.718138933181763
url left: 29
url done: 281
[<meta content="Zillow has 825 homes for sale in Vancouver WA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.7563509941101074
url left: 28
url done: 282
[<meta content="Zillow has 652 homes for sale in Tyler TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.92648720741272
url left: 27
url done: 283
18
76.72.92.108:35247
[<meta content="Zillow has 594 homes for sale in Wilmington DE. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.381042957305908
url left: 26
url done: 284
[<meta content="Zillow has 1,162 homes for sale in Katy TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.987762451171875
url left: 25
url done: 285
[<meta content="Zillow has 158 homes for sale in Norristown PA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.023253440856934
url left: 24
url done: 286
[<meta content="Zillow has 91 homes for sale in Ridgewood New York. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.674929857254028
url left: 23
url done: 287
[<meta content="Zillow has 773 homes for sale in San Bernardino CA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.03546929359436
url left: 22
url done: 288
[<meta content="Zillow has 854 homes for sale in Eugene OR. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
2.861760139465332
url left: 21
url done: 289
[<meta content="Zillow has 268 homes for sale in Provo UT. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.569816827774048
url left: 20
url done: 290
[<meta content="Zillow has 1,195 homes for sale in Shreveport LA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.786609649658203
url left: 19
url done: 291
[<meta content="Zillow has 1,164 homes for sale in Pompano Beach FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.7341840267181396
url left: 18
url done: 292
[<meta content="Zillow has 251 homes for sale in Pasadena TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.3358333110809326
url left: 17
url done: 293
[<meta content="Zillow has 1,857 homes for sale in Corpus Christi TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.54507303237915
url left: 16
url done: 294
[<meta content="Zillow has 760 homes for sale in Silver Spring MD. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.003788232803345
url left: 15
url done: 295
[<meta content="Zillow has 976 homes for sale in Dayton OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.3958559036254883
url left: 14
url done: 296
[<meta content="Zillow has 607 homes for sale in Jackson MS. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.009859085083008
url left: 13
url done: 297
22
12.189.124.100:54773
[<meta content="Zillow has 439 homes for sale in Beaumont TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.346877098083496
url left: 12
url done: 298
[<meta content="Zillow has 5,041 homes for sale in Charlotte NC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
7.4157562255859375
url left: 11
url done: 299
[<meta content="Zillow has 775 homes for sale in Tuscaloosa AL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
10.55875277519226
url left: 10
url done: 300
[<meta content="Zillow has 2,896 homes for sale in Orlando FL. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
11.060353755950928
url left: 9
url done: 301
Connnection error
28
9
72.4.34.79:53281
[<meta content="Zillow has 521 homes for sale in Green Bay WI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
28.672684907913208
url left: 8
url done: 302
[<meta content="Zillow has 1,471 homes for sale in Greensboro NC. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
16.190683841705322
url left: 7
url done: 303
Connnection error
27
13
64.214.77.66:8080
[<meta content="Zillow has 4,032 homes for sale in Atlanta GA. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.997382879257202
url left: 6
url done: 304
[<meta content="Zillow has 586 homes for sale in Newark NJ. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.012028217315674
url left: 5
url done: 305
[<meta content="Zillow has 3,118 homes for sale in Albuquerque NM. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
6.795983552932739
url left: 4
url done: 306
[<meta content="Zillow has 2,907 homes for sale in Columbus OH. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
5.175241708755493
url left: 3
url done: 307
19
184.105.39.102:32715
[<meta content="Zillow has 304 homes for sale in Littleton CO. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
4.638031959533691
url left: 2
url done: 308
[<meta content="Zillow has 452 homes for sale in Brownsville TX. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.961977243423462
url left: 1
url done: 309
21
64.49.66.69:51633
[<meta content="Zillow has 284 homes for sale in Racine WI. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]
3.5567312240600586
url left: 0
url done: 310
3
12.175.211.121:59669
3
12.175.211.121:59669
26
204.249.203.201:50032
1
12.2.202.242:8080
26
204.249.203.201:50032
26
204.249.203.201:50032
17
76.72.92.108:35247
10
65.173.110.234:8888
22
50.224.173.179:8080
26
204.249.203.201:50032
13
64.214.77.66:8080
22
50.224.173.179:8080
10
65.173.110.234:8888
4
71.43.26.18:46024

In [37]:
len(proxies)

27

In [88]:
total_act_pend_per_city = []
for num in prop_count_per_city_list:
    for i in num:
        total_act_pend_per_city.extend((re.findall(r'\d+', i['content'].replace(',',''))))
total_act_pend_per_city = [int(num) for num in total_act_pend_per_city]

In [89]:
city_name = []
for num in prop_count_per_city_list:
    for i in num:
        city_name.extend((re.findall(r'in\s(.+?)\.', i['content'])))
city_name = [num.replace(' New York', ' NY').replace(' Los Angeles', ' CA') for num in city_name]

In [97]:
act_pend_city_df = pd.DataFrame(columns=['city', 'tot_act_pend'])
act_pend_city_df['city'] = city_name
act_pend_city_df['tot_act_pend'] = total_act_pend_per_city
act_pend_city_df['num_pgs'] = ((act_pend_city_df['tot_act_pend']//25)+1)
act_pend_city_df.to_csv('../Data/act_pend_by_city.csv')

In [38]:
def strip_count(lst):
    lst = [str(num) for num in lst]
    lst = [num.replace('[<meta content="Zillow has ', '') for num in lst]
    lst = ap_prop_list = [num.replace(
        '. View listing photos, review sales history, and use our detailed real estate filters to find the perfect place." name="description"/>]', '') for num in lst]
    lst = list(set(lst))
    return lst

new_prop_count_per_city_list = strip_count(prop_count_per_city_list)

In [40]:
new_prop_count_per_city_list

['346 homes for sale in Hayward CA',
 '1,500 homes for sale in Myrtle Beach SC',
 '2,247 homes for sale in McKinney TX',
 '562 homes for sale in Charleston WV',
 '946 homes for sale in Tacoma WA',
 '1,092 homes for sale in Buffalo NY',
 '1,397 homes for sale in Savannah GA',
 '889 homes for sale in Boise ID',
 '652 homes for sale in Augusta GA',
 '4,032 homes for sale in Atlanta GA',
 '607 homes for sale in Worcester MA',
 '2,017 homes for sale in Henderson NV',
 '1,014 homes for sale in Chandler AZ',
 '292 homes for sale in Kalamazoo MI',
 '1,991 homes for sale in Baton Rouge LA',
 '163 homes for sale in Corona New York',
 '620 homes for sale in Elgin IL',
 '2,205 homes for sale in Staten Island NY',
 '963 homes for sale in Fort Wayne IN',
 '594 homes for sale in Wilmington DE',
 '211 homes for sale in York PA',
 '826 homes for sale in Columbia MO',
 '197 homes for sale in Muskegon MI',
 '1,060 homes for sale in Des Moines IA',
 '1,744 homes for sale in Wichita KS',
 '1,807 homes for sale in Omaha NE',
 '1,068 homes for sale in Sioux Falls SD',
 '410 homes for sale in Saint Charles MO',
 '1,922 homes for sale in Milwaukee WI',
 '638 homes for sale in Anaheim CA',
 '268 homes for sale in Provo UT',
 '126 homes for sale in Elizabeth NJ',
 '293 homes for sale in Jamaica New York',
 '870 homes for sale in Rockford IL',
 '4,106 homes for sale in Indianapolis IN',
 '259 homes for sale in Waukegan IL',
 '1,896 homes for sale in Boston MA',
 '4,477 homes for sale in Austin TX',
 '3,118 homes for sale in Albuquerque NM',
 '343 homes for sale in Trenton NJ',
 '159 homes for sale in Mansfield OH',
 '552 homes for sale in Boulder CO',
 '652 homes for sale in Tyler TX',
 '236 homes for sale in Compton CA',
 '1,554 homes for sale in Tallahassee FL',
 '596 homes for sale in Springfield MA',
 '759 homes for sale in Alpharetta GA',
 '2,726 homes for sale in Scottsdale AZ',
 '4,846 homes for sale in Fort Worth TX',
 '321 homes for sale in Paterson NJ',
 '858 homes for sale in Cary NC',
 '192 homes for sale in Dover DE',
 '294 homes for sale in Harrisburg PA',
 '251 homes for sale in Pasadena TX',
 '439 homes for sale in Beaumont TX',
 '284 homes for sale in Racine WI',
 '102 homes for sale in Woodside New York',
 '1,027 homes for sale in Billings MT',
 '647 homes for sale in Lakeland FL',
 '486 homes for sale in Owensboro KY',
 '654 homes for sale in Garland TX',
 '363 homes for sale in Santa Barbara CA',
 '2,573 homes for sale in Saint Louis MO',
 '2,926 homes for sale in Seattle WA',
 '617 homes for sale in Champaign IL',
 '322 homes for sale in Rapid City SD',
 '633 homes for sale in Ann Arbor MI',
 '436 homes for sale in Edison NJ',
 '429 homes for sale in Casper WY',
 '1,281 homes for sale in Springfield MO',
 '792 homes for sale in Greenville SC',
 '737 homes for sale in Stamford CT',
 '311 homes for sale in Springfield OH',
 '2,612 homes for sale in Fort Lauderdale FL',
 '1,386 homes for sale in Clarksville TN',
 '475 homes for sale in Syracuse NY',
 '1,838 homes for sale in Bronx NY',
 '423 homes for sale in Flint MI',
 '708 homes for sale in Laredo TX',
 '4,284 homes for sale in Portland OR',
 '323 homes for sale in Lafayette IN',
 '3,915 homes for sale in Nashville TN',
 '2,896 homes for sale in Orlando FL',
 '26,892 homes for sale in New York NY',
 '849 homes for sale in Columbus GA',
 '2,907 homes for sale in Columbus OH',
 '7,751 homes for sale in San Antonio TX',
 '590 homes for sale in Hamilton OH',
 '1,420 homes for sale in Durham NC',
 '514 homes for sale in Sterling Heights MI',
 '846 homes for sale in Arlington VA',
 '6,644 homes for sale in Jacksonville FL',
 '1,084 homes for sale in Murfreesboro TN',
 '847 homes for sale in Oakland CA',
 '2,384 homes for sale in Tulsa OK',
 '91 homes for sale in Ridgewood New York',
 '612 homes for sale in Fargo ND',
 '611 homes for sale in Huntington Beach CA',
 '298 homes for sale in Saint Cloud MN',
 '1,947 homes for sale in Wilmington NC',
 '818 homes for sale in Canton OH',
 '1,482 homes for sale in Minneapolis MN',
 '1,329 homes for sale in Riverside CA',
 '594 homes for sale in Bellevue WA',
 '468 homes for sale in Mission TX',
 '2,116 homes for sale in Colorado Springs CO',
 '132 homes for sale in Easton PA',
 '1,131 homes for sale in Lincoln NE',
 '802 homes for sale in Salem OR',
 '901 homes for sale in Lansing MI',
 '629 homes for sale in Bloomington IN',
 '1,886 homes for sale in Marietta GA',
 '1,511 homes for sale in Pensacola FL',
 '632 homes for sale in Henrico VA',
 '348 homes for sale in Des Plaines IL',
 '74 homes for sale in Burlington VT',
 '1,149 homes for sale in Peoria IL',
 '1,164 homes for sale in Pompano Beach FL',
 '1,471 homes for sale in Greensboro NC',
 '834 homes for sale in Bowling Green KY',
 '12,454 homes for sale in Chicago IL',
 '5,041 homes for sale in Charlotte NC',
 '1,402 homes for sale in West Palm Beach FL',
 '606 homes for sale in Cheyenne WY',
 '382 homes for sale in Hattiesburg MS',
 '12,159 homes for sale in Houston TX',
 '467 homes for sale in Fremont CA',
 '5,081 homes for sale in Dallas TX',
 '1,401 homes for sale in Lafayette LA',
 '2,681 homes for sale in Knoxville TN',
 '1,053 homes for sale in Saint Paul MN',
 '924 homes for sale in Stockton CA',
 '1,645 homes for sale in Saint Petersburg FL',
 '431 homes for sale in Tracy CA',
 '645 homes for sale in Irving TX',
 '486 homes for sale in Albany NY',
 '287 homes for sale in Portland ME',
 '894 homes for sale in Birmingham AL',
 '154 homes for sale in Decatur GA',
 '737 homes for sale in Gulfport MS',
 '2,462 homes for sale in Oklahoma City OK',
 '412 homes for sale in Youngstown OH',
 '385 homes for sale in Davenport IA',
 '1,853 homes for sale in Fayetteville NC',
 '452 homes for sale in Brownsville TX',
 '854 homes for sale in Eugene OR',
 '976 homes for sale in Dayton OH',
 '296 homes for sale in Roswell NM',
 '157 homes for sale in Elmhurst New York',
 '1,399 homes for sale in Spring TX',
 '483 homes for sale in Schenectady NY',
 '985 homes for sale in Toms River NJ',
 '620 homes for sale in Bismarck ND',
 '203 homes for sale in Burbank CA',
 '272 homes for sale in Astoria New York',
 '467 homes for sale in Redding CA',
 '6,486 homes for sale in Philadelphia PA',
 '2,762 homes for sale in Kansas City MO',
 '3,975 homes for sale in Fort Myers FL',
 '850 homes for sale in Woodbridge VA',
 '6,738 homes for sale in Brooklyn NY',
 '3,418 homes for sale in Tucson AZ',
 '227 homes for sale in Olympia WA',
 '356 homes for sale in Flushing New York',
 '1,062 homes for sale in Madison WI',
 '1,773 homes for sale in Lexington KY',
 '943 homes for sale in Asheville NC',
 '219 homes for sale in Gaithersburg MD',
 '521 homes for sale in West Chester PA',
 '164 homes for sale in Berkeley CA',
 '2,165 homes for sale in Edmond OK',
 '663 homes for sale in Joliet IL',
 '1,383 homes for sale in Little Rock AR',
 '3,614 homes for sale in San Diego CA',
 '697 homes for sale in Alexandria VA',
 '638 homes for sale in Bridgeport CT',
 '1,130 homes for sale in Santa Fe NM',
 '2,298 homes for sale in Washington DC',
 '2,031 homes for sale in Chesapeake VA',
 '6,130 homes for sale in Phoenix AZ',
 '305 homes for sale in Salinas CA',
 '775 homes for sale in Tuscaloosa AL',
 '746 homes for sale in Providence RI',
 '1,315 homes for sale in Mobile AL',
 '1,233 homes for sale in Amarillo TX',
 '3,021 homes for sale in Louisville KY',
 '769 homes for sale in Rochester MN',
 '930 homes for sale in Frederick MD',
 '663 homes for sale in Glendale AZ',
 '227 homes for sale in Carson City County NV',
 '591 homes for sale in Yonkers NY',
 '57 homes for sale in Hyattsville MD',
 '676 homes for sale in Fort Smith AR',
 '1,285 homes for sale in Pittsburgh PA',
 '752 homes for sale in Plainfield IL',
 '2,468 homes for sale in Raleigh NC',
 '460 homes for sale in Grand Prairie TX',
 '3,567 homes for sale in El Paso TX',
 '773 homes for sale in San Bernardino CA',
 '601 homes for sale in Salt Lake City UT',
 '1,250 homes for sale in Irvine CA',
 '2,362 homes for sale in Sacramento CA',
 '820 homes for sale in Macon GA',
 '304 homes for sale in Littleton CO',
 '336 homes for sale in Ogden UT',
 '794 homes for sale in Evansville IN',
 '3,643 homes for sale in Denver CO',
 '752 homes for sale in Cedar Rapids IA',
 '1,045 homes for sale in Kissimmee FL',
 '121 homes for sale in North Hollywood Los Angeles',
 '666 homes for sale in Erie PA',
 '1,409 homes for sale in San Jose CA',
 '1,227 homes for sale in Naperville IL',
 '463 homes for sale in Appleton WI',
 '550 homes for sale in Kansas City KS',
 '1,433 homes for sale in Winston-Salem NC',
 '3,395 homes for sale in Cleveland OH',
 '364 homes for sale in Reading PA',
 '1,644 homes for sale in Bradenton FL',
 '392 homes for sale in Orange CA',
 '825 homes for sale in Vancouver WA',
 '624 homes for sale in Waco TX',
 '322 homes for sale in New Haven CT',
 '390 homes for sale in Belleville IL',
 '756 homes for sale in Saginaw MI',
 '1,239 homes for sale in Huntsville AL',
 '1,371 homes for sale in Norfolk VA',
 '663 homes for sale in Renton WA',
 '541 homes for sale in Topeka KS',
 '192 homes for sale in Rockville MD',
 '1,195 homes for sale in Shreveport LA',
 '150 homes for sale in Santa Clara CA',
 '2,518 homes for sale in Detroit MI',
 '2,779 homes for sale in Sarasota FL',
 '3,726 homes for sale in Baltimore MD',
 '162 homes for sale in Sunnyvale CA',
 '292 homes for sale in Lowell MA',
 '762 homes for sale in Springfield IL',
 '5,702 homes for sale in Miami FL',
 '1,106 homes for sale in Sugar Land TX',
 '1,333 homes for sale in Lawrenceville GA',
 '153 homes for sale in Cambridge MA',
 '556 homes for sale in Independence MO',
 '366 homes for sale in Lancaster PA',
 '2,235 homes for sale in Aurora CO',
 '654 homes for sale in Warren MI',
 '1,622 homes for sale in Memphis TN',
 '2,238 homes for sale in Charleston SC',
 '443 homes for sale in Poughkeepsie NY',
 '473 homes for sale in Beaverton OR',
 '174 homes for sale in Inglewood CA',
 '1,057 homes for sale in Plano TX',
 '6,946 homes for sale in Naples FL',
 '405 homes for sale in Scranton PA',
 '2,843 homes for sale in Virginia Beach VA',
 '586 homes for sale in Newark NJ',
 '317 homes for sale in Livermore CA',
 '1,857 homes for sale in Corpus Christi TX',
 '332 homes for sale in Concord CA',
 '1,162 homes for sale in Katy TX',
 '637 homes for sale in South Bend IN',
 '643 homes for sale in Richmond VA',
 '1,742 homes for sale in Hollywood FL',
 '408 homes for sale in Allentown PA',
 '452 homes for sale in Santa Ana CA',
 '2,426 homes for sale in New Orleans LA',
 '1,128 homes for sale in Spokane WA',
 '824 homes for sale in Aurora IL',
 '10,197 homes for sale in Los Angeles CA',
 '450 homes for sale in Pasadena CA',
 '356 homes for sale in Binghamton NY',
 '1,098 homes for sale in Chattanooga TN',
 '310 homes for sale in Clifton NJ',
 '290 homes for sale in Lake Worth FL',
 '83 homes for sale in Palo Alto CA',
 '442 homes for sale in Duluth MN',
 '158 homes for sale in Norristown PA',
 '877 homes for sale in Modesto CA',
 '412 homes for sale in Manchester NH',
 '1,418 homes for sale in Lubbock TX',
 '1,537 homes for sale in Toledo OH',
 '1,483 homes for sale in San Francisco CA',
 '721 homes for sale in Jersey City NJ',
 '607 homes for sale in Jackson MS',
 '1,422 homes for sale in Montgomery AL',
 '749 homes for sale in Hialeah FL',
 '312 homes for sale in New Bedford MA',
 '433 homes for sale in Helena MT',
 '1,462 homes for sale in Fresno CA',
 '7,950 homes for sale in Las Vegas NV',
 '724 homes for sale in Rochester NY',
 '1,308 homes for sale in Akron OH',
 '381 homes for sale in Hartford CT',
 '760 homes for sale in Silver Spring MD',
 '541 homes for sale in Oceanside CA',
 '521 homes for sale in Grand Rapids MI',
 '421 homes for sale in Lakewood NJ',
 '1,895 homes for sale in Mesa AZ',
 '285 homes for sale in Morgantown WV',
 '1,721 homes for sale in Cincinnati OH',
 '997 homes for sale in Bakersfield CA',
 '1,141 homes for sale in Long Beach CA',
 '257 homes for sale in Bethlehem PA',
 '1,213 homes for sale in Arlington TX',
 '2,127 homes for sale in Tampa FL',
 '345 homes for sale in Glendale CA',
 '1,813 homes for sale in Reno NV',
 '1,517 homes for sale in Columbia SC',
 '521 homes for sale in Green Bay WI',
 '228 homes for sale in Santa Cruz CA']

In [39]:
def create_df_num_homes(prp_list):
    re_all_num = r"\d+\s"
    re_all_zip = r"\s\d+"

    num_homes = []
    zip_homes = []

    for num in prp_list:
        num_homes.append(re.findall(re_all_num, num))
        zip_homes.append(re.findall(re_all_zip, num))

    num_homes = [[int(y) for y in x] for x in num_homes]
    zip_homes = [[int(y) for y in x] for x in zip_homes]

    num_all_homes = []
    zip_all_homes = []

    i = 0
    while i < len(prp_list):
        num_all_homes.extend(num_homes[i])
        zip_all_homes.extend(zip_homes[i])
        i += 1

    df = pd.DataFrame({"all_homes": num_all_homes}, index=zip_all_homes)
    all_pages = [ceil(num/25) for num in df['all_homes']]
    df['all_pages'] = all_pages
    return df


df_all = create_df_num_homes(new_prop_count_per_city_list)

ValueError: Shape of passed values is (1, 310), indices imply (1, 0)

In [ ]:
df_all

In [28]:
def zip_prop_count(zip_list, proxies, prp_list, ua, ezl):
    proxy = random.sample(proxies, 1)[0]
    print(proxies.index(proxy))
    print(proxy)
    for num in zip_list:
        url = 'https://www.redfin.com/zipcode/' + \
            str(num) + '/filter/property-type=house+condo+townhouse,' + \
            'include=sold-1yr,min-price=100k,min-baths=1,include=sold-1yr'
        try:
            start_time = time.time()
            soup = session_creator(proxy, ua, url)
            print(num)
            print(len(zip_list))
            all_count = soup.findAll('div', {'class': 'homes summary'})
            if len(str(all_count)) >= 20:
                print(all_count)
                print(time.time() - start_time)
                ezl.append(num)
                prp_list.append(all_count)
                zip_list.remove(num)
                print(len(zip_list) + len(prp_list))
            else:
                print("Captcha!!!!!")
        except:
            print("Skipping. Connnection error")
            proxies.remove(proxy)
            print(len(proxies))
            return prp_list, zip_list, proxies, ezl
    return prp_list, zip_list, proxies, ezl

In [ ]:
def each_page(proxy, ua, url):
    soup = session_creator(proxy, ua, url)
    # start_time = time.time()
    time.sleep(random.uniform(0, 1) * 3)
    # print(time.time() - start_time)
    full_soup = soup.findAll('a', {'class': 'bottom link-override'})
    full_address = [fas['title'] for fas in full_soup]
    home_link = ['https://www.redfin.com' +
                 str(hls.get('href')) for hls in full_soup]
    df = {'full_address': full_address, 'home_link': home_link}
    return df

In [ ]:
def links_for_props(proxies, url_list, main_df, ua):
    proxy = random.sample(proxies, 1)[0]
    print(f'proxy number: {proxy}')
    i = randint(0, (len(url_list) // 2))
    print(f'starting from url number: {i}')
    while i < len(url_list):
        url = url_list[i]
        try:
            b = random.uniform(0.75, 2.25)
            time.sleep(b)
            # start_time = time.time()
            # print(f'total left: {len(url_list)}')

            data = each_page(proxy, ua, url)
            df = pd.DataFrame(data)
            eds = {'full_address': [], 'home_link': []}
            if data['full_address'] != eds['full_address']:
                main_df = pd.concat([main_df, df])
                url_list.pop(i)
                # a = (time.time() - start_time) * len(url_list)
                # print('SUCCESS!!')
                # print(f'Currently on url number: {i}')
                # print(f'time taken: {a/len(url_list)}')
                if i > 0:
                    i -= randint(0, 1)
                else:
                    i += 0
            else:
                # print('No results')
                # print(f'Currently on url number: {i}')
                i += randint(1, 5)
        except:
            # print("Skipping. Connnection error")
            proxies.remove(proxy)
            # print(f'proxies left: {len(proxies)}')
            # print(f'total left: {len(url_list)}')
            return url_list, main_df, proxies
    return url_list, main_df, proxies

In [ ]:
url = 'https://www.zillow.com/homedetails/895-Yakima-Dr-Fremont-CA-94539/25028455_zpid/?fullpage=true'

In [ ]:
header = random.sample(ua, 1)[0]
soup = session_creator(ua, url)

In [ ]:
a = soup.findAll('div', {'class': 'fact-container'})
b = soup.findAll('div', {'class': 'fact-value'})

In [ ]:
z = []
y = []

In [ ]:
for num in a:
    z.append(num.text)
for num in b:
    y.append(num.text)

In [ ]:
z = [num.replace('  ','').replace('   ','').replace('\r','').replace('\n','').replace('\xa0','') for num in z]

In [ ]:
l = [re.findall(r'(.+)\:', num) for num in z]
# print(l)
k = [re.findall(r'\:(.+)', num) for num in z]
# print(k)
nd = {}
i = 0
while i < len(l):
    if len(l[i])>0:
        if l[i][0] in nd.keys():
            nd[l[i][0]].extend(k[i])
        else:
            nd[l[i][0]] = k[i]
        i+=1
    else:
        i+=1
for k,v in nd.items():
    nd[k] = ', '.join([num for num in v])
print(nd)

In [ ]:
y = [num.replace('  ','').replace('   ','').replace('\r','').replace('\n','').replace('\xa0','') for num in y]

In [ ]:
dict(zip(z,y))